@page "/"
@using CypherSheet.Client.Components.Views

<PageTitle>Meus Personagens - Cypher Sheet</PageTitle>

<div class="app-container">
    <div class="content-area">
        @switch (currentTab)
        {
            case TabType.Characters:
            default:
                <CharacterListView />
                break;
            case TabType.Settings:
                <SettingsView />
                break;
        }
    </div>

    <AppFooter CurrentTab="currentTab" CurrentTabChanged="NavigateToTab" />
</div>

@code {
    private TabType currentTab = TabType.Characters;

    private void NavigateToTab(TabType tab)
    {
        currentTab = tab;
    }
}
